

.element {
    margin: 64px;
    width: 200px;
    height: 200px;
    border: 8px solid gray;
    background-image:linear-gradient(50deg, green, yellow);
    background-size: 300%;
    animation: bg 3s infinite alternate;
    
}

@keyframes element {
    0% {
       background-position: right;
    }
    100% {
        background-position: left;
    }
}

