

.spiner {
    margin: 64px;
    width: 200px;
    height: 200px;
    border: 16px solid gray;
    border-radius: 50%;
    border-bottom: 16px solid green;
    animation: loading 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(odeg);
    }
    100% {
        transform: rotate(360deg);
    }
}